<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">
    <h1>Sign up</h1>
    <div class="form-horizontal" role="form">

      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :email ,class: "form-control" ,placeholder: "Email" %></div>
      </div>

      <div class="form-group">
        <%= f.label :password ,class: "col-sm-3 control-label"  %>
        <div class="col-sm-9">
          <%= f.password_field :password ,class: "form-control" ,placeholder: "Password"%></div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" ,class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, class: "form-control" ,placeholder: "Confirmation" %></div>
      </div>
      <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %></div>
      </div>
      <% end %></div>
  </div>
</div>
</div>