<p id="notice"><%= notice %></p>

<p>
  <strong>Oldnetwork:</strong>
  <%= @tollstationip.oldnetwork %>
</p>

<p>
  <strong>Oldplaza:</strong>
  <%= @tollstationip.oldplaza %>
</p>

<p>
  <strong>Oldip:</strong>
  <%= @tollstationip.oldip %>
</p>

<p>
  <strong>Newnetwork:</strong>
  <%= @tollstationip.newnetwork %>
</p>

<p>
  <strong>Newplaza:</strong>
  <%= @tollstationip.newplaza %>
</p>

<p>
  <strong>Newip:</strong>
  <%= @tollstationip.newip %>
</p>

<p>
  <strong>Tollstation:</strong>
  <%= @tollstationip.tollstation_id %>
</p>

<%= link_to 'Edit', edit_tollstationip_path(@tollstationip) %> |
<%= link_to 'Back', tollstationips_path %>
