<%= form_for(@tollstation) do |f| %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %></div>
  <div class="field">
    <%= f.label :gljdaima_id %>
    <%= f.select( :gljdaima_id, Gljdaima.all.collect {|p| [ p.name, p.id ] }) %></div>
  <div class="actions">
    <%= f.submit %></div>
<% end %>