<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tollstation.name %>
</p>




<p>
  <strong>Gljdaima:</strong>
  <%= Gljdaima.find(@tollstation.gljdaima_id).name %>
</p>
<% if Tollstationip.find_by(tollstation_id: @tollstation.id)  %>

<%= link_to '修改IP信息', edit_tollstationip_path(Tollstationip.find_by(tollstation_id: @tollstation.id)) %> 
<% else %>
	<%= link_to '添加IP信息 ', new_tollstationip_path(@tollstation) %> 
<% end %>
<%= link_to '修改收费站基本信息', edit_tollstation_path(@tollstation) %> |
<%= link_to '返回', tollstations_path %>
