
    <% @pianqudaimas.each do |pianqudaima| %>

     <div class="col-sm-6 col-md-5 col-lg-3 ">
      <div class=" thumbnail   ">
           <div class="bookheader bookcolor-success" >
        <br>
        <h3 >新疆公路收费</h3>
        <h3 >信息规范</h3>
      </div>

        <div class="caption">
          <h3>
          <a  href="<%= showgljinfo_pianqudaima_path(pianqudaima) %>"><%= pianqudaima.name%></a></h3>
          <p><%= pianqudaima.no %></p>
        <h5>
          <a  href="<%= showgljinfo_pianqudaima_path(pianqudaima) %>"><%= "管辖公路局" %><span class="badge"><%=  Gljdaima.where(pianqudaima_id:pianqudaima.id).count %></span></a></h5>
<%= link_to '编辑', edit_pianqudaima_path(pianqudaima) %>
<%= link_to '删除', pianqudaima, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>




     
     
    <% end %>


<br>

<%= link_to '添加新片区信息', new_pianqudaima_path %>
