<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pianqudaima.name %>
</p>

<p>
  <strong>No:</strong>
  <%= @pianqudaima.no %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @pianqudaima.desc %>
</p>

<%= link_to 'Edit', edit_pianqudaima_path(@pianqudaima) %> |
<%= link_to 'Back', pianqudaimas_path %>
