<%= form_for(@gljdaima) do |f| %>


  <div class="field">
    <%= f.label :公路局名称 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :公路局编号 %><br>
    <%= f.text_field :no %>
  </div>
  <div class="field">
    <%= f.label :所属片区 %>
     <%= f.select( :pianqudaima_id, Pianqudaima.all.collect {|p| [ p.name, p.id ] }) %></div>
  </div>
  <div class="field">
    <%= f.label :描述 %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
