<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gljdaima.name %>
</p>

<p>
  <strong>No:</strong>
  <%= @gljdaima.no %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @gljdaima.desc %>
</p>

<%= link_to 'Edit', edit_gljdaima_path(@gljdaima) %> |
<%= link_to 'Back', gljdaimas_path %>
